@charset "utf-8";

body{
    background-color: honeydew;
    background-size: cover;
}

table{
    background-color: aliceblue;
    font-size: 70px;
    font-family:"HGP明朝E" ,serif;
}
table,th,td{
    border: solid 5px black;
    border-collapse: collapse;
}
thead{
    background-color: rgb(255, 127, 138);
}















